@media (min-width: 375px), (min-width: 768px) {
  .Intro {
    background-image: url("background.svg");
    background-repeat: no-repeat;
  }

  .logo {
    display: flex;
    margin-left: 2rem;
    margin-top: 2rem;
  }

  .navbar {
    float: right;
    display: flex;
    margin-right: 2rem;
    margin-top: -1rem;
  }

  .container {
    align-content: center;
    align-items: center;
  }

  h1 {
    align-items: flex-start;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3.7rem;
    display: flex;
    margin-left: 2rem;
    color: #344563;
    margin-bottom: 0.7rem;
    margin-top: 7rem;
  }

  .description {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    color: #344563;
    margin-top: 0.1rem;
    margin-left: 1.8rem;
    margin-right: 1.8rem;
  }

  h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #7f8fff;
    margin-left: 1.8rem;
  }

  .contact {
    margin-left: -0.5rem;
    display: flex;
    list-style: none;
  }

  .icons {
    padding-right: 1.5rem;
  }

  .projects {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 0.75;
    width: 20.438rem;
    height: 34.5rem;
    background: #fff;
    border: 0.063rem solid #dfe1e6;
    border-radius: 1rem;
  }

  .snapshots {
    width: 18.438rem;
    height: 13.75rem;
    background-color: rgb(211, 143, 95);
    border-radius: 0.5rem;
  }

  #snap2 {
    background-color: #d0c7d1;
  }

  #snap3 {
    background-color: rgb(231, 119, 44);
  }

  #snap4 {
    background-color: rgb(255, 255, 255);
  }

  .project_name {
    margin-top: 0.2rem;
    font-family: poppins;
    font-style: normal;
    font-weight: 1200;
    font-size: 1.8rem;
    line-height: 2.75rem;
    margin-bottom: -0.5rem;
  }

  .details {
    display: inline-flex;
    flex-direction: row;
  }

  .detail {
    display: inline-flex;
    color: #344563;
    padding-right: 2.6rem;
    margin-left: -2.3rem;
  }

  .projo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .info_block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    width: 18.438rem;
    height: 18rem;
  }

  .info {
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 1.5rem;
    color: #344563;
    margin-top: -1rem;
  }

  .languages {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    width: 13.375;
    height: 1.5rem;
    margin-left: -13%;
  }

  .language {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    width: 57px;
    background: #ebebff;
    border-radius: 8px;
    height: 16px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070fd;
  }

  #html {
    width: 2.063rem;
  }

  #css {
    width: 1.56rem;
  }

  #javascript {
    width: 4.25rem;
  }

  .button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 12px;
    gap: 10px;
    width: 126px;
    height: 48px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
    background-color: #fff;
  }

  .button:hover {
    background: #6070ff;
    box-shadow: 8px 16px rgba(64, 83, 252, 0.24);
    color: #fff;
  }

  .button:active {
    background: #2230d2;
    color: #fff;
  }

  .button:disabled {
    background: #e5e5e5;
    color: #5e6c84;
  }

  .let {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #7f8fff;
    margin-left: 0.1rem;
  }

  .work {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 114px 24px;
    gap: 88px;
    width: 375px;
    height: 2788px;
    top: 718px;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 114px 24px;
    gap: 24px;
    position: absolute;
    width: 375px;
    height: 1062.15px;
    top: 3506px;
    margin-top: -8rem;
    border: 0.1rem 0.1rem 0.1rem 0.1rem solid #c9cedb;
    border-radius: 1rem;
  }

  .about_me {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 327px;
    height: 346px;
  }

  h5 {
    width: 327px;
    height: 35px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172b4d;
  }

  .about_description {
    width: 327px;
    height: 147px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin-top: -4.3rem;
  }

  .contacts {
    margin-left: -2.5rem;
    display: flex;
    list-style: none;
  }

  .resume {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    width: 162px;
    height: 48px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
  }

  .skill_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 327px;
    height: 464.15px;
    margin-top: 10rem;
  }

  .pgrm_languages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 327px;
    height: 320.15px;
  }

  .lang_head {
    width: 327px;
    height: 72px;
    display: flex;
    align-items: center;
    margin-top: -4rem;
  }

  .lang_head_icon {
    width: 15px;
    height: 15px;
    margin-left: 16rem;
  }

  h6 {
    margin-left: -17.2rem;
    height: 24px;
    left: 12px;
    right: 78px;
    top: calc(50% - 24px / 2);
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
  }

  .language_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    gap: 12px;
    width: 327px;
    height: 248.15px;
    margin-left: 8rem;
  }

  .lang_item {
    display: flex;
    align-items: center;
    width: 303px;
    height: 66.72px;
    background: #f7f7f9;
    border-radius: 8px;
    list-style-type: none;
    margin: 1rem;
    padding: 0;
    margin-left: -3rem;
  }

  .langs {
    height: 24px;
    top: calc(50% - 24px / 2 - 0.36px);
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #253858;
    margin-left: 4rem;
  }

  .langs_img {
    width: 48px;
    height: 48px;
    left: 12px;
    background: none;
    border: none;
    margin-left: -50%;
    float: right;
  }

  #ht {
    margin-left: -33%;
  }

  #cs {
    margin-left: -5.5rem;
  }

  .containers {
    display: flex;
    align-items: center;
    width: 327px;
    height: 72px;
    border: none;
    border-radius: 8px;
    padding: 8px;
  }

  .text {
    flex: 1;
    font-family: 'poppins', sans-serif;
    font-size: 1.3rem;
    line-height: 20px;
    font-weight: bolder;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .image {
    width: 20px;
    height: 17px;
    margin-right: 2.5rem;
  }
}
